:host ::ng-deep .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, .2);
  margin: 16px 28px 16px 0;
  float: left;
  img {
    padding-bottom: -20px;
    width: 100%;
    position: relative;
    bottom: 20px;
    right: 4px;
  }
}

.router-container {
  padding: 24px;
  min-height: calc(100vh - 186px);
}

.login-button {
  width: 120px;
  height: 31px;
  margin: 16px 28px 16px 0;
  float: right;
  border-radius: 20px;
}

.top-menu {
  float: right;
  color: #eee;
  background-color: transparent;
  margin-top: 10px;
  border: none;
  &.left {
    float: left;
  }
}

.logo-button {
  bottom: 16px;
  background-color: transparent;
  border: none;
  font-weight: 500;
  color: #eee;
  width: 100%;
}

.clickable-menu {
  cursor: pointer;
}
