<nz-card>
  <div class="graph-header">
    <h3>Active Customer</h3>
    <button routerLink="/dashboard/more" skipLocationChange [queryParams]="{activeCustomer: true}">More</button>
  </div>
  <div nz-col [nzPush]="4" [nzSpan]="16" class="chart-container">
    <ngx-chartjs *ngIf="dataCustomer" [data]="dataCustomer" type="bar"></ngx-chartjs>
  </div>
</nz-card>
<nz-card>
  <div class="graph-header">
    <h3>Active Supplier</h3>
    <button routerLink="/dashboard/more" skipLocationChange [queryParams]="{activeSupplier: true}">More</button>
  </div>
  <div nz-col [nzPush]="4" [nzSpan]="16" class="chart-container">
    <ngx-chartjs *ngIf="dataSupplier" [data]="dataSupplier" type="bar"></ngx-chartjs>
  </div>
</nz-card>
<nz-card>
  <div class="graph-header">
    <h3>Most Popular Product</h3>
    <button routerLink="/dashboard/more" skipLocationChange [queryParams]="{mostPopularProduct: true}">More</button>
  </div>
  <div nz-col [nzPush]="4" [nzSpan]="16" class="chart-container">
    <ngx-chartjs *ngIf="dataProduct" [data]="dataProduct" type="bar"></ngx-chartjs>
  </div>
</nz-card>