@import 'variables.scss';

.submenu-wrapper {
  margin: 0 5%;
}

.submenu-button {
  padding-left: 0px;
  width: 100%;
  height: 36px;
  border-radius: 12px;
  background-color: $combitBlue;
  color: $combitWhite;
  font-size: 16px;
  border: none;
  &.selected {
    background-color: $combitOrange;
  }
  img {
    position: relative;
    bottom: 2px;
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1);
  }
}

.submenu-button-container {
  &:first-child {
    padding-right: 8px;
  }
  &:last-child {
    padding-left: 8px;
  }
  &:not(:first-child):not(:last-child) {
    padding: 0 8px;
  }
}
