<div nz-col [nzPush]="2" [nzSpan]="18" class="back-button">
  <button nz-button routerLink="/">Back</button>
</div>
<div nz-col [nzPush]="2" [nzSpan]="18" class="content-wrapper">
  <ng-container *ngIf="isSkeleton">
    <nz-skeleton [nzActive]="true" [nzAvatar]="{size:'large', shape:'square'}"></nz-skeleton>
    <nz-skeleton [nzActive]="true" [nzAvatar]="{size:'large', shape:'square'}"></nz-skeleton>
    <nz-skeleton [nzActive]="true" [nzAvatar]="{size:'large', shape:'square'}"></nz-skeleton>
    <nz-skeleton [nzParagraph]="{rows: 10}" [nzActive]="true" [nzAvatar]="{size:'large', shape:'square'}"></nz-skeleton>
  </ng-container>
  <nz-card>
    <nz-spin [nzSpinning]="isLoading" [nzSize]="'large'">
      <form nz-form *ngIf="!isSkeleton" [formGroup]="validateForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired nzFor="productName">Upload Photo</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-upload
              nzListType="picture-card"
              [nzFileList]="fileListImage"
              [nzBeforeUpload]="beforeUploadImage"
              [nzPreview]="handlePreviewImage"
              [nzRemove]="handleDeleteImage">
              <i nz-icon type="plus"></i>
              <div class="ant-upload-text">Upload</div>
            </nz-upload>
            <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
              <ng-template #modalContent>
                <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
              </ng-template>
            </nz-modal>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired nzFor="productName">Product Name</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <input id="productName" type="text" nz-input formControlName="productName">
            <nz-form-explain *ngIf="validateForm.get('productName').dirty && validateForm.get('productName').errors">Product name is required!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired nzFor="solution">Solution</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select nzShowSearch nzAllowClear formControlName="solution">
              <ng-container *ngFor="let solution of listSolution">
                <nz-option *ngIf="!isLoading" [nzValue]="solution.id" [nzLabel]="solution.category"></nz-option>
              </ng-container>
            </nz-select>
            <nz-form-explain *ngIf="validateForm.get('solution').dirty && validateForm.get('solution').errors">Solution is required!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <div nz-col class="segment-button">
          <button nz-button [nzType]="segmentName === 'description' ? 'primary' : 'default'" (click)="changeSegment('description')">Description</button>
          <button nz-button [nzType]="segmentName === 'benefit' ? 'primary' : 'default'" (click)="changeSegment('benefit')">Benefit</button>
          <button nz-button [nzType]="segmentName === 'feature' ? 'primary' : 'default'" (click)="changeSegment('feature')">Feature</button>
          <button nz-button [nzType]="segmentName === 'testimony' ? 'primary' : 'default'" (click)="changeSegment('testimony')">Testimony</button>
          <!-- <button nz-button [nzType]="segmentName === 'implementation' ? 'primary' : 'default'" (click)="changeSegment('implementation')">Implementation</button>
      <button nz-button [nzType]="segmentName === 'faq' ? 'primary' : 'default'" (click)="changeSegment('faq')">Faq</button> -->
        </div>

        <div *ngIf="segmentName === 'description'">
          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzRequired nzFor="Description">Description</nz-form-label>
            <nz-form-control class="quill-editor" [nzSpan]="16">
              <quill-editor (onEditorCreated)="quillCreated($event, 'Description')" placeholder="" formControlName="Description" [modules]="modules"></quill-editor>
              <nz-form-explain *ngIf="validateForm.get('Description').dirty && validateForm.get('Description').errors">Description is required!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>

          <!-- <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="BusinessTarget">Business Target</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <textarea nz-input formControlName="BusinessTarget"></textarea>
        </nz-form-control>
      </nz-form-item> -->

          <nz-form-item>
            <nz-form-label [nzSpan]="5">Upload Video</nz-form-label>
            <nz-form-control [nzSpan]="16">
              <nz-upload
                [(nzFileList)]="fileListVideo"
                [nzBeforeUpload]="beforeUploadVideo">
                <button nz-button>
                  <i nz-icon type="upload"></i><span>{{fileListVideo.length ? 'Change Video' : 'Select Video'}}</span>
                </button>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control [nzPush]="7" [nzSpan]="16">
              <div class="video-wrapper">
                <div class="placeholder">
                  <video *ngIf="fileListVideo.length" controls="controls" controlList="nodownload" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer" #videoShow>
                    <source [src]="fileListVideo[0].url" type="video/mp4" /> Not Supported
                  </video>
                  <img *ngIf="!fileListVideo.length" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="alt="" />
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="isSupplierAsContact">User as Contact</nz-form-label>
            <nz-form-control [nzSpan]="16">
              <nz-switch formControlName="isSupplierAsContact" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
              <ng-template #checkedTemplate><i nz-icon type="check"></i></ng-template>
              <ng-template #unCheckedTemplate><i nz-icon type="close"></i></ng-template>
            </nz-form-control>
          </nz-form-item>

          <ng-container *ngIf="validateForm.get('isSupplierAsContact').value">
            <nz-form-item>
              <nz-form-label [nzSpan]="5" nzRequired nzFor="selectedContact">Contact Name</nz-form-label>
              <nz-form-control [nzSpan]="16">
                <nz-select nzShowSearch nzAllowClear formControlName="selectedContact">
                  <ng-container *ngFor="let user of listUser">
                    <nz-option *ngIf="!isLoading" [nzValue]="user.id" [nzLabel]="user.name"></nz-option>
                  </ng-container>
                </nz-select>
                <nz-form-explain *ngIf="validateForm.get('selectedContact').dirty && validateForm.get('selectedContact').errors">Contact name is required!</nz-form-explain>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSpan]="5" nzRequired nzFor="selectedContactPhone">Contact Handphone</nz-form-label>
              <nz-form-control [nzSpan]="16">
                <input id="selectedContactPhone" type="text" nz-input formControlName="selectedContactPhone" readonly>
              </nz-form-control>
            </nz-form-item>
          </ng-container>

          <ng-container *ngIf="!validateForm.get('isSupplierAsContact').value">
            <nz-form-item>
              <nz-form-label [nzSpan]="5" nzRequired nzFor="selectedContactNameManual">Contact Name</nz-form-label>
              <nz-form-control [nzSpan]="16">
                <input id="selectedContactNameManual" type="text" nz-input formControlName="selectedContactNameManual">
                <nz-form-explain *ngIf="validateForm.get('selectedContactNameManual').dirty && validateForm.get('selectedContactNameManual').errors">Contact name is required!</nz-form-explain>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSpan]="5" nzRequired nzFor="selectedContactPhoneManual">Contact Handphone</nz-form-label>
              <nz-form-control [nzSpan]="16">
                <input id="selectedContactPhoneManual" type="text" nz-input formControlName="selectedContactPhoneManual">
                <nz-form-explain *ngIf="validateForm.get('selectedContactPhoneManual').dirty && validateForm.get('selectedContactPhoneManual').errors">Contact handphone is required!</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </ng-container>
        </div>

        <div *ngIf="segmentName === 'benefit'">
          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="Benefit">Benefit</nz-form-label>
            <nz-form-control class="quill-editor" [nzSpan]="16">
              <quill-editor (onEditorCreated)="quillCreated($event, 'Benefit')" placeholder="" formControlName="Benefit" [modules]="modules"></quill-editor>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="price">Price</nz-form-label>
            <nz-form-control [nzSpan]="16">
              <input NumbersOnly [allowCurrency]="true" [currencyText]="currency" id="price" type="text" nz-input formControlName="price">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="marketingKit">Marketing Kit</nz-form-label>
            <nz-form-control [nzSpan]="16">
              <nz-upload
                [nzFileList]="fileListMarketingKit"
                [nzBeforeUpload]="beforeUploadMarketingKit"
                [nzRemove]="handleDeleteMarketingKit">
                <button nz-button>
                  <i nz-icon type="upload"></i><span>Upload</span>
                </button>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>
        </div>


        <div *ngIf="segmentName === 'feature'">
          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="Feature">Feature</nz-form-label>
            <nz-form-control class="quill-editor" [nzSpan]="16">
              <quill-editor (onEditorCreated)="quillCreated($event, 'Feature')" placeholder="" formControlName="Feature" [modules]="modules"></quill-editor>
            </nz-form-control>
          </nz-form-item>
        </div>



        <!-- <div *ngIf="segmentName === 'implementation'">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="Implementation">Implementation</nz-form-label>
        <nz-form-control class="quill-editor" [nzSpan]="16">
          <quill-editor (onEditorCreated)="quillCreated($event, 'Implementation')" placeholder="" formControlName="Implementation" [modules]="modules"></quill-editor>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="Credentials">Success story or client review</nz-form-label>
        <nz-form-control class="quill-editor" [nzSpan]="16">
          <quill-editor (onEditorCreated)="quillCreated($event, 'Credentials')" placeholder="" formControlName="Credentials" [modules]="modules"></quill-editor>
        </nz-form-control>
      </nz-form-item>
    </div> -->
        <!-- <div *ngIf="segmentName === 'faq'">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="Faq">Faq</nz-form-label>
        <nz-form-control class="quill-editor" [nzSpan]="16">
          <quill-editor (onEditorCreated)="quillCreated($event, 'Faq')" placeholder="" formControlName="Faq" [modules]="modules"></quill-editor>
        </nz-form-control>
      </nz-form-item>
    </div> -->

        <div *ngIf="segmentName === 'testimony'">
          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="productCertificate">Add Product Certificate</nz-form-label>
            <nz-form-control [nzSpan]="16">
              <nz-upload
                nzListType="picture-card"
                [nzFileList]="fileListProductCertificate"
                [nzBeforeUpload]="beforeUploadProductCertificate"
                [nzPreview]="handlePreviewImage"
                [nzRemove]="handleDeleteProductCertificate">
                <i nz-icon type="plus"></i>
                <div class="ant-upload-text">Upload</div>
              </nz-upload>
              <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
                <ng-template #modalContent>
                  <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
                </ng-template>
              </nz-modal>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="productCertificate">Product Certificate</nz-form-label>
            <nz-form-control [nzSpan]="16">
              <input id="productCertificate" type="text" nz-input formControlName="productCertificate">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="productImplementationFoto">Add Product Implementation</nz-form-label>
            <nz-form-control [nzSpan]="16">
              <nz-upload
                [nzFileList]="fileListProductImplementation"
                [nzBeforeUpload]="beforeUploadProductImplementation"
                [nzRemove]="handleDeleteProductImplementation"
                [nzShowUploadList]="false">
                <button nz-button>
                  <i nz-icon type="upload"></i><span>Upload</span>
                </button>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item *ngFor="let item of fileListProductImplementation">
            <div nz-col [nzPush]="5" [nzSpan]="16">
              <nz-card class="implementation-card-wrapper">
                <div class="implementation-media-wrapper" nz-col [nzSpan]="6">
                  <img [src]="item.url" *ngIf="item.useCase === 'implementationImage'" />

                  <video *ngIf="item.useCase === 'implementationVideo'" controls="controls" controlList="nodownload" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer" #videoShow>
                    <source [src]="item.url" type="video/mp4" /> Not Supported
                  </video>
                </div>
                <nz-form-control class="implementation-title" [nzSpan]="16">
                  <input id="{{'productImplementation_' + item.uid}}" type="text" nz-input formControlName="{{'productImplementation_' + item.uid}}" placeholder="Title">
                </nz-form-control>
              </nz-card>
            </div>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="productImplementation">Product Implementation</nz-form-label>
            <nz-form-control [nzSpan]="16">
              <input id="productImplementation" type="text" nz-input formControlName="productImplementation">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="existingClient">Add Existing Client</nz-form-label>
            <nz-form-control [nzSpan]="16">
              <nz-upload
                nzListType="picture-card"
                [nzFileList]="fileListExistingClient"
                [nzBeforeUpload]="beforeUploadExistingClient"
                [nzPreview]="handlePreviewImage"
                [nzRemove]="handleDeleteExistingClient">
                <i nz-icon type="plus"></i>
                <div class="ant-upload-text">Upload</div>
              </nz-upload>
              <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
                <ng-template #modalContent>
                  <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
                </ng-template>
              </nz-modal>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzPush]="5" [nzSpan]="16">
          <button class="button-right" nz-button (click)="submitForm()">Publish</button>
        </div>
      </form>
    </nz-spin>
  </nz-card>
</div>
