@import 'variables.scss';

.image-container {
  img {
    width: 100%;
  }
}

.back-button {
  margin-left: 24px;
}

.product-detail {
  margin-top: 16px;
}

.content-wrapper {
  height: 100%;
}

.description-label {
  font-size: 18px;
  width: 160px;
  background-color: $combitBlue;
  margin: 10px 0px;
  text-align: center;
  color: $combitWhite;
  border-radius: 8px;
  display: inline-block;
  + .editable-button {
    float: right;
    margin: 12px 0px;
    i {
      font-size: 16px;
      margin-right: 8px;
      cursor: pointer;
      color: $combitOrange;
    }
  }
}

.more-button {
  font-size: 12px;
  border-radius: 6px;
  border: none;
  color: $combitWhite;
  width: 110px;
  background-color: $combitGreen;
}
