
<div nz-col [nzPush]="6" [nzSpan]="12" class="back-button">
  <button nz-button routerLink="/">Back</button>
</div>
<div nz-col [nzPush]="6" [nzSpan]="12" class="content-wrapper">
  <nz-skeleton [nzLoading]="isLoading" [nzActive]="true" [nzAvatar]="true">
    <nz-card *ngIf="!isLoading && product.id" class="card-container">
      <div nz-col [nzSpan]="24" class="image-container">
        <img src="{{product.fotoPath}}" />
      </div>
      <div nz-col [nzPush]="2" [nzSpan]="18" class="product-detail">
        <p>Product Name: <b>{{product.productName}}</b></p>
        <p>Company Name: <b>{{product.companyName}}</b></p>
        <p>Holding Name: <b>{{product.holdingName}}</b></p>
        <p>Category: <b>{{product.categoryName}}</b></p>
        <p *ngIf="product.isIncludePrice">{{product.currency}}. {{product.price | number}}</p>
      </div>
      <div nz-col [nzSpan]="24" class="extra-action text-center">
        <span class="extra-label" (click)="openGooglePlay()">Feature</span>
        <span class="extra-label" (click)="openGooglePlay()">Benefit</span>
      </div>
      <div nz-col [nzPush]="2" [nzSpan]="18" class="product-description" [innerHtml]="product.description">
      </div>
      <div nz-col [nzSpan]="24" class="extra-action">
        <span class="extra-label icon-container left" (click)="openGooglePlay()">
          <img class="icon-image thumb-up" src="../../../assets/images/thumb-up.png" />
          <label>{{product.like}}</label>
        </span>
        <span class="extra-label icon-container right" (click)="openGooglePlay()">
          <img class="icon-image" src="../../../assets/images/comment.png" />
          <label>Post Comment</label>
        </span>
        <!-- <span class="extra-label" (click)="openGooglePlay()">Feature</span>
        <span class="extra-label" (click)="openGooglePlay()">Benefit</span> -->
      </div>
    </nz-card>
  </nz-skeleton>
</div>
