<div class="content-wrapper">
  <nz-skeleton [nzLoading]="isLoading" [nzActive]="true" [nzAvatar]="true">
    <div *ngIf="!isLoading && product.id" class="card-container">
      <div class="image-container">
        <img src="{{product.fotoPath}}" />
      </div>
      <div class="description-container">
        <div class="description-label">Description</div>
        <div *ngIf="editable" class="editable-button">
          <a nz-popconfirm nzTitle="Are you sure delete this post?" (nzOnConfirm)="deleteProduct(product.id)">
            <i class="anticon anticon-delete"></i>
          </a>
          <!-- <i class="anticon anticon-delete" (click)="deleteProduct(product.id)"></i> -->
          <i class="anticon anticon-edit" (click)="editProduct(product.id)"></i>
        </div>
        <div class="product-description" [innerHtml]="product.description"></div>
      </div>
      <div class="more-container">
        <button class="more-button" (click)="discoveryMore()">Discovery More</button>
      </div>
    </div>
  </nz-skeleton>
</div>
